@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');

html body{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(142, 202, 230 );
  margin:none;
  font-family: open sans ;

}

h1 {
  font-family: Bebas Neue;
  font-size: 4em;
}

ul {
  list-style: none;
}

header {
  position: relative;
  background-image: url(../img/istockphoto-1220573371-170667a.jpg);
  background-size: 100%;
  padding-bottom: 1%;
  padding-left: 15%;
  padding-top: 2%;
  text-align: left;
  color: aliceblue;
}

.body {
  border: solid rgb(2, 48, 71) 20px;
}

.projects {
  margin: 12px;
  border: 2px dotted black;
  padding: 10px;
}

p img {
  float: left;
  max-width: 150px;
}

.aboutme {
  margin: 10px;
  border: 2px dotted black;
  padding: 10px;
  padding-bottom: 35px;
}

#span {
  font-family: bebas neue;
  font-size: 1.5em;
}