@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@500&display=swap');

html body{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: rgb(142, 209, 230);
  margin:none;
  font-family: open sans ;
}

.body p {
  color:rgb(1, 38, 57);
}

.body li {
  font-size: 1.2em;
  color:rgb(60, 36, 1);
}

h1 {
  font-family: Bebas Neue;
  font-size: 4em;
}

ul {
  list-style: none;
}

.projects h2 {
  text-align: center;
}

ul h2 {
  color:rgb(2, 48, 71);
  font-family: Bebas Neue;
  font-size: 3em;
}

ol h2 {
  color:rgb(2, 48, 71);
  font-family: Bebas Neue;
  font-size: 2em;
  text-align: center;
  margin-top: .5em;
}

header {
  position: sticky;
  top: 0;
  background-image: url(../img/istockphoto-1220573371-170667a.jpg);
  background-size: 100%;
  padding-bottom: 1%;
  padding-left: 15%;
  padding-top: 2%;
  min-width: 500px;
  text-align: left;
  color: aliceblue;
  border-bottom: solid rgb(2, 48, 71) 5px;
}

.body {
  border: solid rgb(2, 48, 71) 20px;
  max-width: 1200px;
  margin: auto
}


.projects {
  margin: 12px;
  border: 2px solid black;
  padding: 10px;
  border-radius: 3%;
  background-color: rgb(230, 205, 142);
}

p img {
  float: left;
  max-width: 150px;
  padding-right: 10px;
  padding-top: 10px;
}

.aboutme {
  margin: 10px;
  border: 2px solid black;
  padding: 10px;
  padding-bottom: 35px;
  border-radius: 3%;
  background-color: rgb(230, 205, 142);
}

.aboutme h2 {
  color:rgb(2, 48, 71);
  font-family: Bebas Neue;
  text-align: center;
  font-size: 3em;
  margin-top: .5em;
}

#span {
  font-family: bebas neue;
  font-size: 1.5em;
}

footer {
  background-color: white;

}

footer img {
  width: 50px;
  padding-left: 50%;
  padding-right: 50%;
}
